.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;  
}
.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: black;
}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: #080707;
}
.button{
  background-color: hsl(200, 100%, 50%);
  color:white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
  box-shadow: 5px 5px 5px hsla(226, 81%, 58%, 0.3);
}
.button:hover{
  background-color: teal;

}
.form{
  padding: 20px;
  margin: 10px;
  font-weight: bolder;
  border: 1px solid rgb(214, 207, 207);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  max-width: 250px;
}
header{
  border: 0px solid rgb(167, 161, 161);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  border-radius: 0px;
  margin: 0px;
  color: white;
  background-color: rgb(175, 173, 173);
}
a{
  color: white;
}
a:hover{
  color: black;
}
.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  padding: 10px;
  border: 1px solid rgb(126, 124, 124);
}
.student p{
  margin: 0px;
}
.welcome{
  font-size: 2.5em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login{
  font-size: 2.5em;
  background-color: tomato;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.input{
  padding: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  border: 1px rgb(179, 175, 175);
}